<h1>Listing notes</h1>

<table>
  <thead>
    <tr>
      <th>Message</th>
      <th>Created at</th>
      <th>Sent at</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @notes.each do |note| %>
      <tr>
        <td><%= note.message %></td>
        <td><%= note.created_at %></td>
        <td><%= note.sent_at %></td>
        <td><%= link_to 'Show', note %></td>
        <td><%= link_to 'Edit', edit_note_path(note) %></td>
        <td><%= link_to 'Destroy', note, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Note', new_note_path %>
